<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../assets/images/logo.gif"
        alt="movies-logo"
        width="100px"
        height="60px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a
            *ngIf="isLogin"
            class="nav-link"
            aria-current="page"
            routerLink="home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="isLogin"
            class="nav-link"
            aria-current="page"
            routerLink="about"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="isLogin"
            class="nav-link"
            aria-current="page"
            routerLink="movies"
            >Movies</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="isLogin"
            class="nav-link"
            aria-current="page"
            routerLink="tv"
            >Tv Shows</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="isLogin"
            class="nav-link"
            aria-current="page"
            routerLink="network"
            >Network</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="isLogin"
            class="nav-link"
            aria-current="page"
            routerLink="people"
            >People</a
          >
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
      <div class="social-media">
        <a href="https://www.instagram.com/themoviedb/"
          ><i class="fab mx-2 fa-instagram"></i
        ></a>
        <a href="https://www.facebook.com/themoviedb/"
          ><i class="fab mx-2 fa-facebook"></i
        ></a>
        <a href="https://www.youtube.com/hashtag/themoviedb"
          ><i class="fab mx-2 fa-youtube"></i
        ></a>
        <a href="https://www.themoviedb.org/movie/388757"
          ><i class="fab mx-2 fa-tiktok"></i
        ></a>
      </div>

      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll ml-4"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a
            *ngIf="!isLogin"
            class="nav-link"
            aria-current="page"
            routerLink="login"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="!isLogin"
            class="nav-link"
            aria-current="page"
            routerLink="register"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="isLogin"
            class="nav-link"
            aria-current="page"
            routerLink=""
            (click)="islogout()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
